tensorflow[and-cuda]
tensorrt
opencv-contrib-python
cvzone
keras
scikit-learn
scikeras
h5py
jupyter
ipykernel
ultralytics
dlib
pydot
xgboost
seaborn
matplotlib
plotly
open3d
pyntcloud
numpy<=1.26.4
pandas
